body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: palevioletred;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}
.half-width img{
    width: 100%;
}
.header{
    background-image: url(header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding: 150px;
}
.link-button{
    text-decoration: none;
    background-color: hsla(330, 89%, 46%, 0.877);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.button{
    text-decoration: none;
    background-color: hsla(330, 89%, 46%, 0.877);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.biography{
    background-image: url("biography-bg.png");
    background-repeat: no-repeat;
}
header{
    text-align: center;
}
.box{
    display: block;
    float: left;
    width: 20%;
    padding: 10px;
    margin-left: 120px;
}
img{
    width: 100%;
}
.latest-work-area{
    background-image: url("latest-work-bg.png");
    background-repeat: no-repeat;
}
.footer-area{
    background-image: url("footer-bg.png");
}
.footer{
    text-align: center;
}
.footer-button{
    text-decoration: none;
    text-align: center;
}
.link-button2{
    text-align: center;
    text-decoration: none;
    background-color: hsla(330, 89%, 46%, 0.877);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
footer{
    text-align: center;
    font-size: 20px;
}